@import "../../utils/variables.scss";

$primary-color: black;

.item-list {
  display: flex;
  flex-wrap: wrap;
}
/* TODO: Extract variables */
.group {
  border: 15px solid $primary-color;
  border-radius: 25px;
  min-width: $single-item-max-width;
}

.title {
  background-color: $primary-color;
  padding-bottom: 15px;
  color: white;
  margin: 0;
}
